<template>
  <validation-provider
    ref="provider"
    mode="passive"
    :rules="{ max: 50 }"
    v-slot="{ errors }"
    slim
  >
    <div class="todos__input">
      <input
        v-bind="$attrs"
        :value="value"
        :class="{ 'is-invalid': !!errors[0] }"
        v-on="inputListeners"
        required
      />
      <span class="todos__input-error" v-show="!!errors[0]">
        {{ errors[0] }}
      </span>
    </div>
  </validation-provider>
</template>

<script lang="ts">
import { ValidationProvider } from "vee-validate";
import { Component, Vue, Model, Ref, Emit } from "vue-property-decorator";

export interface TodoValidateEvent {
  valid: boolean;
  reset: () => void;
}

@Component({
  components: {
    ValidationProvider
  }
})
export default class TodoInput extends Vue {
  @Model("input") readonly value!: string | null;
  @Ref() readonly provider!: InstanceType<typeof ValidationProvider>;

  get inputListeners() {
    return Object.assign({}, this.$listeners, {
      input: this.onInput.bind(this),
      keydown: this.onKeyDown.bind(this)
    });
  }

  @Emit("input")
  onInput(event: Event) {
    return (event.target as HTMLInputElement).value;
  }

  async onKeyDown(event: KeyboardEvent) {
    if (event.keyCode !== 13) {
      return;
    }

    const { valid } = await this.provider.validate();
    const todoValidateEvent: TodoValidateEvent = {
      valid,
      reset: this.provider.reset
    };

    this.$emit("validate", todoValidateEvent);
  }
}
</script>

<style lang="scss" scoped>
div.todos__input {
  width: 100%;

  input {
    width: 100%;
    border-radius: 5px;
    border: 2px solid #000;
    padding: 10px;
    line-height: 30px;
    font-size: 150%;
    transition: all 0.2s ease-in-out;

    &.is-invalid {
      border-color: red;
      outline-color: red;
    }
  }

  &.smaller input {
    line-height: 15px !important;
    font-size: 100% !important;
    padding: 5px;
  }

  span.todos__input-error {
    display: block;
    color: red;
    font-size: 80%;
    margin: 5px 0px;
  }
}
</style>
