<template>
  <li :class="['todos__list-item', { completed: todo.completed }]">
    <input :id="inputId" type="checkbox" v-model="todoCompleted" />

    <div class="todos__list-item-value">
      <template v-if="todo.inEdit">
        <todo-input
          class="smaller"
          v-model="todoValue"
          @validate="onItemValidate"
          @blur="onItemCancel"
        />
      </template>
      <template v-else>
        <label :for="inputId" class="font__operator">
          {{ todo.value }}
        </label>
      </template>
    </div>

    <div class="todos__list-item-actions">
      <button @click="onItemCancel" v-if="todo.inEdit">
        <i class="fas fa-undo"></i>
      </button>
      <button @click="onItemEdit" v-else>
        <i class="far fa-edit"></i>
      </button>
      <button @click="onItemRemove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </li>
</template>

<script lang="ts">
import { Todo } from "@/types";
import TodoInput, { TodoValidateEvent } from "./TodoInput.vue";
import { Component, Vue, Prop, Emit, Watch } from "vue-property-decorator";

@Component({
  components: {
    TodoInput
  }
})
export default class TodoItem extends Vue {
  @Prop({ required: true }) readonly todo!: Todo;

  private todoValue: string | null = null;
  private todoCompleted: boolean | null = this.todo.completed;

  get inputId() {
    return `__todo__${this.todo.id}`;
  }

  onItemValidate({ valid }: TodoValidateEvent) {
    if (valid === false) {
      return;
    }

    this.$emit("update", { ...this.todo, value: this.todoValue });
    this.setDefaults();
  }

  // TODO: resolve cancelling problem when input is in focus and user tries to cancel his edit action
  onItemCancel() {
    this.setDefaults();
  }

  // TODO: implement input autofocus when above todo for cancel is resolved
  onItemEdit() {
    this.$set(this.todo, "inEdit", true);
    this.todoValue = this.todo.value;
  }

  // TODO: implement confirm modal action so that user confirms he wants to remove todo item from list
  @Emit("remove")
  onItemRemove() {
    return this.todo.id;
  }

  @Watch("todoCompleted")
  onTodoCompletedChange(newValue: boolean) {
    this.$emit("update", { ...this.todo, completed: newValue });
  }

  private setDefaults() {
    delete this.todo.inEdit;
    this.todoValue = null;
  }
}
</script>

<style lang="scss" scoped>
li.todos__list-item {
  display: grid;
  grid-template-columns: 50px auto 80px;
  margin-bottom: 10px;
  height: 50px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(189, 189, 189, 1);
  -moz-box-shadow: 0px 5px 10px 0px rgba(189, 189, 189, 1);
  box-shadow: 0px 5px 10px 0px rgba(189, 189, 189, 1);

  &.completed label {
    color: #aaa;
    text-decoration: line-through;
  }

  input[type="checkbox"] {
    grid-column: 1;
    align-self: center;
    justify-self: center;
  }

  .todos__list-item-value {
    grid-column: 2;
    align-self: center;
    padding-left: 5px;

    label {
      word-wrap: break-word;
      word-break: break-all;
      font-size: 115%;
    }
  }

  .todos__list-item-actions {
    grid-column: 3;
    align-self: center;
    justify-self: center;

    button,
    button:active,
    button:focus {
      background-color: transparent;
      border: none;
      margin-right: 10px;
      outline: none;
      transition: color 0.2s ease-in-out;

      i {
        font-size: 125%;
      }

      &:hover,
      &:visited {
        color: #0074ff;
        cursor: pointer;
      }

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}
</style>
