<template>
  <transition-group
    v-if="todos.length > 0"
    class="todos__list"
    name="list"
    tag="ul"
  >
    <todo-item
      v-for="todo in todos"
      :key="todo.id"
      :todo="todo"
      v-on="$listeners"
    />
  </transition-group>
  <div class="todos__list-empty" v-else>
    <p class="font__operator">
      <slot name="list-empty">
        No todo's defined
      </slot>
    </p>
  </div>
</template>

<script lang="ts">
import { Todo } from "@/types";
import TodoItem from "./TodoItem.vue";
import { Component, Vue, Prop } from "vue-property-decorator";

@Component({
  components: {
    TodoItem
  }
})
export default class Todos extends Vue {
  @Prop({ required: true }) readonly todos!: Todo[];
}
</script>

<style lang="scss" scoped>
.todos__list {
  list-style: none;
  padding: 0;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.3s;
}

.list-move {
  transition: transform 0.3s;
}

.list-enter,
.list-leave-to {
  opacity: 0;
}

.list-enter {
  transform: translateY(30px);
}

.list-leave-to {
  transform: translateX(30px);
}

.todos__list-empty {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #ccc;

  p {
    font-weight: normal;
    font-style: italic;
  }
}
</style>
