<template>
  <div id="app">
    <div class="todos__container">
      <div class="todos__heading">
        <h1 class="font__operator">
          Simple Todo's
        </h1>
      </div>
      <todo-input
        v-model="todoValue"
        placeholder="Add your todo's over here 😎"
        @validate="onTodoValidate"
      />
      <div class="todos__wrapper">
        <div class="todos__toggle-flip">
          <h4>{{ todoInfoHeading }}</h4>
          <todo-toggle v-model="showCompleted" />
        </div>
        <div class="todos__flipper">
          <div class="todos__todo">
            <todos
              :todos="todos"
              @remove="onTodoRemove"
              @update="onTodoUpdate"
            />
          </div>
          <div class="todos__completed">
            <todos
              :todos="completedTodos"
              @remove="onTodoRemove"
              @update="onTodoUpdate"
            >
              <template #list-empty>
                Complete some todo's and you will see them here
              </template>
            </todos>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Todo } from "./types";
import Todos from "./components/Todos.vue";
import TodoToggle from "./components/TodoToggle.vue";
import TodoInput, { TodoValidateEvent } from "./components/TodoInput.vue";
import { todosModule } from "@/store/modules/todos";
import { Component, Vue, Watch } from "vue-property-decorator";

// TODO: put main todo-input inside of form tag and add input group with button to submit a form
// TODO: on mobile resoultion set components to have smaller size
// TODO: add TODO list persistence inside of vuex
// TODO: implement dockerization and deployment of app
@Component({
  components: {
    Todos,
    TodoInput,
    TodoToggle
  }
})
export default class App extends Vue {
  private todoValue: string | null = null;
  private showCompleted: boolean | null = false;

  get completedTodos() {
    return todosModule.completedItems;
  }

  get todos() {
    return todosModule.todoItems;
  }

  get todoInfoHeading() {
    return this.showCompleted
      ? `Completed (${this.completedTodos.length})`
      : `In Progress (${this.todos.length})`;
  }

  async onTodoValidate({ valid, reset }: TodoValidateEvent) {
    if (valid === false || this.todoValue === null) {
      return;
    }

    todosModule.addItem(this.todoValue);
    this.todoValue = null;
    this.showCompleted = false;
    reset();
  }

  onTodoRemove(todoId: number) {
    todosModule.removeItem(todoId);
  }

  onTodoUpdate(todo: Todo) {
    todosModule.updateItem(todo);
  }

  @Watch("showCompleted")
  onShowCompletedChange(newValue: boolean) {
    const wrapper = document.querySelector(".todos__wrapper") as HTMLDivElement;

    if (newValue) {
      wrapper.classList.add("flip");
    } else {
      wrapper.classList.remove("flip");
    }
  }
}
</script>

<style lang="scss">
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #efefef;
}

#app {
  font-family: "Consolas", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font__operator {
  font-family: "Operator Mono", monospace;
  font-style: italic;
}

.todos__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
}

.todos__heading {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;

  h1 {
    font-size: 300%;
  }
}

.todos__wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 100%;
  perspective: 1000px;

  &.flip .todos__flipper {
    transform: rotateY(180deg);
  }

  .todos__toggle-flip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .todos__flipper {
    position: relative;
    transition: 0.6s;
    transform-style: preserve-3d;

    .todos__todo,
    .todos__completed {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      margin: 10px 0px;
    }

    .todos__todo {
      z-index: 2;
      /* for firefox 31 */
      transform: rotateY(0);
    }

    .todos__completed {
      transform: rotateY(180deg);
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .todos__container {
    width: 80%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .todos__container {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .todos__container {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .todos__container {
    width: 35%;
  }
}
</style>
